<% @notes.each do |note| %>
  <article>
    <h2>
      <%= note.title%>
    </h2>
    <p>
      <%=note.content%>
      <span><a href="/notes/unarchive/<%= note.id%>">[move to notes]</a></span>
      <span><a href="/notes/delete/<%= note.id%>">[delete]</a></span>
    </p>
    <p class="meta">Created: <%= note.created_at %></p>
  </article>
<% end %>

<h3><a href="/notes">Notes</a></h3>